@charset "UTF-8";

@media (max-width: 480px) { 
    body {
        margin: 0;
        width: 400px;  
        margin: auto;
        text-align: center;
        background-color: #fafafa;
    }

    header {
        width: 400px;
        margin: auto;
    }

    .logo {
        display: block;
        margin: auto;
        margin-top: 30px;
    }

    .image-hero {
        width: 440px;
        display: block;
        margin: auto;
        margin-top: 30px;
        position: relative;
        transform: translateX(-5%);
    }

    .image-hero-left {
        display: none;
    }

    .image-hero-right {
        display: none;
    }

    h1 {
        color: #27283d; 
        width: 200px;
        margin: auto;
        margin-top: 30px;
    }

    .header-text {
        color: #86849a;
        width: 270px;
        margin: auto;
        margin-top: 20px;
    }

    .download-button-main {
        display: block;
        margin: auto;
        margin-top: 20px;
        border: none;
        width: 130px;
        height: 40px;
        border-radius: 20px;
        background-color: #4d96a9;
        color: white;
    }

    .download-button-main span {
        color: #82d3e6;
    }

    .what-button {
        display: block;
        margin: auto;
        margin-top: 10px;
        border: none;
        width: 100px;
        height: 40px;
        border-radius: 20px;
        background-color: #855fb2;
        color: white;
    }

    main {
        margin: auto;
        margin-top: 60px;
    }

    .ball-01 {
        margin:auto;
        padding: 11px 0px;
        width: 40px;
        color: #87859a;
        border-radius: 100px;
        border-style: solid;
        border-width: 1px;
        border-color: #dedee0;
    }

    .line {
        margin: auto;
        background-color: #dedee0;
        height: 100px;
        width: 1px;
    }

    .container01 {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 400px;
        gap: 20px;
    }

    .image-woman-in-videocall {
        width: 150px;
        border-radius: 7px;
    }

    .image-women-videochatting {
        width: 150px;
        border-radius: 7px;
    }

    .image-men-in-meeting {
        width: 150px;
        border-radius: 7px;
    }

    .image-man-texting {
        width: 150px;
        border-radius: 7px;
    }

    h2 {
        color: #4f8f99;
        font-size: 16px;
        margin-top: 50px;
    }

    h3 {
        color: #282840;
        width: 150px;
        margin: auto;
    }

    .main-text {
        color: #86849a;
        width: 290px;
        margin: auto;
        margin-top: 20px;
    }
    
    
    .box01 {
        margin-top: 150px;
        position: absolute;
        transform: translate(430% , -65%);
        z-index: 1;
    }

    .line2 {
        margin: auto;
        background-color: #dedee0;
        height: 100px;
        width: 1px;
    }

    .ball-02 {
        margin:auto;
        padding: 11px 0px;
        width: 40px;
        color: #87859a;
        border-radius: 100px;
        border-style: solid;
        border-width: 1px;
        border-color: #dedee0;
        background-color: white;
    }

    footer {
        margin-top: 180px;
        background-color: #4f8f99;
        background-image: url(assets/mobile/image-footer.jpg);
        background-size: cover;
        z-index: -2;
        position: relative;
        padding-bottom: 50px;
    }
    
    .color-opacity {
        content: '';
        opacity: 0.8;
        width: 100%;
        height: 100%;
        background-color: #4f8f99;
        z-index: -1;
        position: absolute;
    }

    h4 {
        padding-top: 50px;
        color: white;
        font-size: 25px;
        width: 220px;
        margin: auto;
    }

    .footer-text {
        color: white;
        width: 220px;
        margin: auto;
        margin-top: 20px;
    }

    .download-button-footer {
        display: block;
        margin: auto;
        margin-top: 20px;
        border: none;
        width: 130px;
        height: 40px;
        border-radius: 20px;
        background-color: #855fb2;
        color: white;
    }

    .download-button-footer span {
        color: #dbbaff;
    }
    

}