@charset "UTF-8";

:root {
    --Outfit: 'Outfit', sans-serif;

    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --dark-blue-main-BG: hsl(217, 54%, 11%);
    --dark-blue-card-BG: hsl(216, 50%, 16%);
    --dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

body {
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

    background-color: var(--dark-blue-main-BG);
    font-family: var(--Outfit);

    width: 375px;
}

main {
    width: 280px;
    height: 490px;
    background-color: var(--dark-blue-card-BG);
    border-radius: 10px;
    box-shadow: 1px 1px 10px #00000042;
}

.cyan {
    position: absolute;
    background-color: hsla(178, 100%, 50%, 0.479);
    width: 250px;
    height: 250px;
    opacity: 0;
    border-radius: 5px;
    transform: translate(6%, 6%);
}

.cyan:hover {
    opacity: 1;
    background-image:url(images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
} 

.image-equilibrium {
    display: block;
    width: 250px;
    margin: auto;
    margin-top: 15px;
    border-radius: 5px;
}

.image-equilibrium:hover {
    cursor: pointer;
    background-image:url(images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
}

.container1 {
    margin: 16px;
}

h1 {
    font-size: 20px;
    color: var(--White);
}

h1:hover {
    cursor: pointer;
    color: var(--Cyan);
}

p {
    color: var(--Soft-blue);
    font-size: 15px;
}

.container2, .box1 ,.box2{
    display: flex;
    justify-content: space-between;
}

.time , .price {
    margin-left: 3px;
}

.price {
    color: var(--Cyan);
}

.time {
    color: var(--Soft-blue);
}

.line {
    margin-top: 15px;
    height: 1px;
    width: 250px;
    background-color: var(--Soft-blue);
}

.box3 {
    margin-top: 20px;
    width: 250px;
    display: flex;
}

.image-avatar {
    width: 25px;
    border: 1px solid var(--White);
    border-radius: 20px;
}

.footer-text {
    margin-left: 10px;
    color: var(--Soft-blue);
}

a {
    text-decoration: none;
    color: var(--White);
}

a:hover {
    cursor: pointer;
    color: var(--Cyan);
}
