body {
    margin: 0;
    background: url(images/pattern-background-desktop.svg) center center no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    text-align: center;
    background-color: hsl(225, 100%, 94%);

    font-family:'Red Hat Display', sans-serif;
}

.box {
    background-color: white;
    height: 640px;
    width: 400px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 3px 15px #88888838;
    
}

.box img {
    width: 400px;
    border-radius: 20px 20px 0px 0px;
}

h1 {
    font-size: 25px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.text {
    margin: auto;
    font-size: 16px;
    width: 300px;
    color: grey;

    margin-bottom: 40px;
}

.plan {
    margin: auto;
    background-color: rgba(128, 128, 128, 0.144);
    height: 100px;
    width: 320px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 40px;
}

.plan img {
    width: 50px;
    height: 50px;
    padding-right: 20px;
}

.plan-box {
    margin-right: 70px;
}

.plan-text1 {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.plan-text2 {
    color: grey;
}

.plan a {
    font-weight: 700;
    color: hsl(245, 75%, 52%);
}

.plan a:hover {
    text-decoration: none;
    color:#4c4ced86;
    cursor: pointer;
}

.payment {
    border-style: none;
    background-color: hsl(245, 75%, 52%);
    height: 40px;
    width: 360px;
    border-radius: 10px;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
    box-shadow: 0px 20px 20px #88888838;

    margin-bottom: 30px;
}

.payment:hover {
    background-color: hsla(245, 75%, 52%, 0.486);
    cursor: pointer;
}

.cancel-order {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
    color: grey;
    font-size: 14px;
    text-decoration: none;
}

.cancel-order:hover {
    color: rgb(23, 22, 41);
    cursor: pointer;
}